.about-bangsam {
  min-height: 100vh;
  background-color: #d8ead7;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: max-content;
  padding: 100px 0 150px;
  @media only screen and (max-width: 425px) {
    padding: 30px 0 150px;
  }
  &__decoration {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -7%;
    &__logo {
      width: 40%;
    }
  }
  &__container {
    grid-column: 2/15;
    &__title {
      grid-column: 2/6;
      margin-top: 0.5%;
      font-family: "Bebas Neue", cursive;
      font-size: 40px;
      h1 {
        color: #595959;
      }
      @media only screen and (max-width: 2560px) {
        font-size: 55px;
      }
      @media only screen and (max-width: 1863px) {
        font-size: 40px;
      }
      @media only screen and (max-width: 1024px) {
        font-size: 34px;
      }
      @media only screen and (max-width: 768px) {
        font-size: 30px;
      }
      @media only screen and (max-width: 425px) {
        font-size: 26px;
      }
    }
    &__description {
      z-index: 90;
      grid-column: 2/15;
      margin-top: -3%;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 24px;
      font-weight: 500;
      text-align: justify;
      @media only screen and (max-width: 2560px) {
        font-size: 34px;
      }
      @media only screen and (max-width: 1863px) {
        font-size: 24px;
      }
      @media only screen and (max-width: 1440px) {
        font-size: 24px;
      }
      @media only screen and (max-width: 1024px) {
        font-size: 22px;
      }
      @media only screen and (max-width: 768px) {
        font-size: 18px;
      }
      @media only screen and (max-width: 425px) {
        margin-top: -7%;
      }
    }
  }
  &__team-container {
    grid-column: 2/15;
    h1 {
      color: #595959;
      font-size: 80px;
      font-family: "Bebas Neue", cursive;
      margin-bottom: 0;
      margin-top: 12.8px;
      @media only screen and (max-width: 2560px) {
        font-size: 110px;
      }
      @media only screen and (max-width: 1863px) {
        font-size: 80px;
      }
      @media only screen and (max-width: 1440px) {
        font-size: 80px;
      }
      @media only screen and (max-width: 1024px) {
        font-size: 70px;
      }
      @media only screen and (max-width: 768px) {
        font-size: 60px;
      }
      @media only screen and (max-width: 425px) {
        font-size: 50px;
      }
    }
    &__cards-container {
      display: flex;
      @media only screen and (max-width: 425px) {
        flex-direction: column;
      }
      &__card {
        transition: all 0.3s ease;
        display: flex;
        background-image: url("../../landingPage/teamBangsam/card.png");
        background-size: cover;
        max-width: 350px;
        box-shadow: 0 5px 15px rgba(#000, 0.1);
        border-radius: 8px;
        margin: 0px 23px;
        @media only screen and (max-width: 2560px) {
          max-width: 500px;
        }
        @media only screen and (max-width: 1863px) {
          max-width: 350px;
        }
        @media only screen and (max-width: 1440px) {
          z-index: 100;
        }
        @media only screen and (max-width: 1024px) {
          max-width: 350px;
          margin: 0px 6px;
        }
        @media only screen and (max-width: 425px) {
          max-width: 350px;
          margin: 6px 6px;
        }
        &:hover {
          transform: scale(1.05);
          box-shadow: 0 10px 15px rgba(#000, 0.2);
        }
        &__photo {
          width: 50%;
          padding: 16px;
          transition: all 0.3s ease;
          img {
            width: 100%;
            border-radius: 8px;
            box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1),
              0 4px 4px 0 rgba(0, 0, 0, 0.15);
            filter: grayscale(2);
          }
        }
        &__text {
          width: 50%;
          padding-top: 120px;
          line-height: 10px;
          margin-left: 5px;
          @media only screen and (max-width: 2560px) {
            padding-top: 200px;
          }
          @media only screen and (max-width: 1863px) {
            padding-top: 120px;
          }
          @media only screen and (max-width: 1440px) {
            padding-top: 70px;
          }
          @media only screen and (max-width: 1024px) {
            margin-left: 0;
          }
          @media only screen and (max-width: 768px) {
            padding-top: 45px;
          }
          @media only screen and (max-width: 425px) {
            padding-top: 120px;
          }
          @media only screen and (max-width: 375px) {
            padding-top: 80px;
          }
          @media only screen and (max-width: 320px) {
            padding-top: 60px;
          }
          h5 {
            font-family: "Bebas Neue", cursive;
            font-size: 32px;
            color: #3a3939;
            @media only screen and (max-width: 2560px) {
              font-size: 45px;
            }
            @media only screen and (max-width: 1863px) {
              font-size: 32px;
            }
            @media only screen and (max-width: 1440px) {
              font-size: 24px;
            }
            @media only screen and (max-width: 1024px) {
              font-size: 18px;
            }
            @media only screen and (max-width: 768px) {
              font-size: 14px;
            }
            @media only screen and (max-width: 425px) {
              font-size: 32px;
            }
            @media only screen and (max-width: 320px) {
              font-size: 26px;
            }
          }
          p {
            font-family: "Open Sans Condensed", sans-serif;
            font-size: 14px;
            color: #3a3939;
            @media only screen and (max-width: 2560px) {
              font-size: 24px;
            }
            @media only screen and (max-width: 1863px) {
              font-size: 14px;
            }
            @media only screen and (max-width: 1440px) {
              font-size: 12px;
            }
            @media only screen and (max-width: 1024px) {
              font-size: 10px;
            }
            @media only screen and (max-width: 768px) {
              font-size: 8px;
            }
            @media only screen and (max-width: 425px) {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@keyframes animateUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.animateUp {
  -webkit-animation-name: animateUp;
  animation-name: animateUp;
}
