.about-bangsam {
  height: 100vh;
  background-color: #d8ead7;
  &__decoration {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &__top {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -7%;
    &__logo {
      width: 40%;
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    &__title {
      grid-column: 2/6;
      margin-top: 10%;
      font-family: "Bebas Neue", cursive;
      font-size: 2.5rem;
      h1 {
        color: #595959;
      }
    }
    &__description {
      z-index: 90;
      grid-column: 2/15;
      margin-top: -3%;
      font-family: "Open Sans Condensed", sans-serif;
      font-size: 2rem;
      font-weight: 500;
      text-align: justify;
    }
  }
}
