.ant-descriptions-bordered .ant-descriptions-item-label {
  font-weight: bold;
}

.ant-spin-dot-item {
  background-color: #30572d;
}

.ant-spin-spinning {
  display: block;
  justify-content: center;
  margin: 20%;
  color: #30572d;
}
