.dropdown-branches {
  color: #30572d;
  font-size: 35px;
  font-weight: bold;
}

.dropdown-branches:hover {
  color: #64b15d;
}

.dropdown-branches:active {
  color: #64b15d;
}

.ant-dropdown-trigger > .anticon.anticon-down {
  font-size: 15px;
}

.table-branches {
  margin-bottom: 16px;
}

.table-branches > button {
  margin-right: 8px;
}
