.dropdown-transactions {
  color: #30572d;
  font-size: 35px;
  font-weight: bold;
}

.dropdown-transactions:hover {
  color: #64b15d;
}

.dropdown-transactions:active {
  color: #64b15d;
}

.ant-dropdown-trigger > .anticon.anticon-down {
  font-size: 15px;
}

.table-transactions {
  margin-bottom: 16px;
}

.table-transactions > button {
  margin-right: 8px;
}
